# Copy the line below to a new file named `.env`

# 1. PPOSTGRES DATABASE (Primary)

DATABASE_URL="request_from_neophiles"

# 2. SUPABASE (Image storage only)

SUPABASE_URL="request_from_neophiles"
SUPABASE_SERVICE_ROLE_KEY="request_from_neophiles"
SUPABASE_ANON_KEY="request_from_neophiles"

# 3. BACKEND CONFIG

PORT=3000
JWT_SECRET="request_from_neophiles_or_generate_your_own"

# 4. FRONTEND CONFIG

FRONTEND_ORIGIN="http://localhost:5000" # Development
