# Copy the line below to a new file named `.env`

# Server Configuration
PORT=3000

# Database Connection for Prisma
DATABASE_URL="request_the_url_from_neophiles"

# Authentication: You can generate a random string for this
JWT_SECRET="super_secret_random_string_here"

# Frontend URL for CORS during development
FRONTEND_ORIGIN="http://localhost:5000"
